<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h3>{{data}}</h3>
    <div class=" col-6 w-50 continer mt-5 a">
      
        <form id="id" action="" class="mt-3 p-2 ms-2  a1  " >
            <h2 class="text-center text-white mt-3  p-2  h2 text-center ">Login Form</h2>
            <input #psw type="text" [placeholder]="pdata" class="form-control mt-3 p-2  a2 w  " (change)="accnoChange($event)">
            <input type="text" placeholder=" enter Password" class="form-control mt-3 p-2  a2">
            <button class="btn btn-outline-light mt-3  b" (click)="login(psw)" >Login</button>
           <span class=" text-light "> don't have account?</span> <a routerLink="register" class=" text-white p">create account</a>
        </form>
    </div>
    
</body>
</html>
