<div class="row">
    <div class="col-3 text-center  mt-5" style="background-color: rgb(78, 5, 100);">
        <div class="list-group  w-100 fs-5 text-center" style="border: none !important;">

         
                <button id="d" type="button" class="list-group-item border-0 " style="background-color:rgb(78, 5, 100) ; color: white;" >
                    view profile
                    <i class="fa-solid fa-user ms-2 text-warning fa-1x"></i>

                </button>
                <hr class="text-white">
            <button id="d" type="button" class="list-group-item border-0" style="background-color:rgb(78, 5, 100) ; color: white;">
                balance enquiry
                <i class="fa-solid fa-sack-dollar ms-2 text-warning fa-1x"></i>

            </button>
            <hr class="text-white">
            <button id="d" type="button" class="list-group-item border-0" style="background-color:rgb(78, 5, 100) ; color: white;"> 
                money transfer
                <i class="fa-solid fa-money-bill-transfer text-warning fa-1x ms-2"></i>

            </button>
            <hr class="text-white"> 
            <button  id="d" type="button" class="list-group-item border-0" style="background-color:rgb(78, 5, 100) ; color: white;">
                account statement
                <i class="fa-solid fa-table-list ms-2 text-warning fa-1x"></i>

            </button>
            <hr class="text-white">
        <button id="d" type="button" class="list-group-item border-0" style="background-color:rgb(78, 5, 100) ; color: white;" >
             Log out
             <i class="fa-solid fa-person-walking-arrow-right ms-2 text-warning fa-1x"></i>

            </button>
        <hr class="text-white">
        <button id="d" type="button" class="list-group-item border-0 " style="background-color:rgb(78, 5, 100) ; color: white;"> 
            delete Account
            <i class="fa-solid fa-user-minus ms-2 text-warning fa-1x"></i>
        </button>
   <hr class="text-white">
    </div>
    <div class="text-center mt-5 ">
        <i class="fa-solid fa-hand-holding-dollar fa-4x text-white"></i>
    </div>
    </div>
    <div class="col-9 text-center p-5" style="background-color: 255,255,255;">
        <h1 style="color: rgb(35, 5, 143);" class="mt-4">Enjoy Net Banking With <span class="text-warning mt-4">SBI</span></h1>
        <p class="text-start mt-3 p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus amet suscipit laborum reprehenderit eveniet perferendis mollitia cupiditate. Placeat quos corrupti perferendis sint. Temporibus quia eaque eligendi deserunt autem, officiis sed.</p>
<img class="w-100 mt-4"src="https://i.postimg.cc/d036FK8Q/Bank-PO.png" alt="">
    </div>
</div>