<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- to use ng module inside the input we must give [(ngModel)="value"] -->
    <div class="w-50 container text-center ">
        <form id="d" action="" class="form-control text-center container w-50">
            <input [(ngModel)]="acno" id="u1" name="accno" type="text" placeholder="Account Number" class="form-control mt-3 p-2">
            <input [(ngModel)]="uname" id="u2" name="uname" type="text"  placeholder="User Name"class="form-control mt-3 p-2">
            <input [(ngModel)]="psw" id="p1" name="pass"type="text" placeholder="Password" class="form-control mt-3 p-2">
            <input [(ngModel)]="cpsw" type="text" id="p2" name="cpass" placeholder="confirm Password"class="form-control mt-3 p-2">
            <button class="btn btn-success mt-3 p-2" (click)="signup()">create Account</button>
        </form>
    </div>
</body>
</html>
 